nav {
    display: -webkit-flex;
    display: flex;
}

nav > :last-child {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    background-color: #ebe2d5;
    margin: 11px 10px 11px 0;
    padding: 0 10px;
    border-radius: 5px;
}

nav > :last-child > :first-child {
    -webkit-flex: 1;
    flex: 1;
}

nav > :last-child > :last-child {
    background: url("search-button-small.svg") no-repeat center;
    width: 16px;
}

nav input {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 28px;
    color: #8d7f6d;
}

#toolbar {
    display: -webkit-flex;
    display: flex;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ebe2d5;
}

#toolbar > div {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    color: #8d7f6d;
    font-size: 14px;
}

#toolbar .selected {
    font-weight: bold;
}

#toolbar > div:last-child {
    border-left: 1px solid #ebe2d5;
}

#more, #loading, #error {
    text-align: center;
    line-height: 30px;
    color: #8d7f6d;
}

.item {
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #ebe2d5;
    padding: 10px 15px;
    line-height: 24px;
    color: #8d7f6d;
}

.item > :nth-child(2) {
    -webkit-flex: 1;
    flex: 1;
    margin-left: 10px;
}

.item > :nth-child(2) > div {
    height: 24px;
    overflow: hidden;
    word-break: break-all;
}

.item > :nth-child(2) > :last-child {
    font-size: 12px;
}

.item > :first-child img {
    width: 42px;
    height: 48px;
}

.item > :last-child {
    font-size: 14px;
    text-align: right;
    margin-left: 10px;
    white-space: nowrap;
}

#filter {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
}

#filter_bg {
    -webkit-flex: 1;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.15);
}

#filter > div:last-child {
    width: 275px;
    background-color: #fbf6f1;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#filter > div > div:first-child {
    -webkit-flex: 1;
    flex: 1;
    padding: 30px 20px 0 20px;
}

#filter > div > div:first-child > div {
    height: 80px;
    font-size: 12px;
    line-height: 24px;
    color: #c5b39b;
    padding-top: 15px;
    border-bottom: 1px solid #efe5da;
}

#filter > div > div:first-child > div select {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background-color: #fffcf8;
    border: 1px solid #796c5c;
    border-radius: 5px;
    font-size: 14px;
    color: #c0ac92;
}

#filter > div > div:first-child > div select:disabled {
    background-color: #f4ebdf;
}

#filter > div > div:last-child {
    height: 50px;
    line-height: 50px;
    display: -webkit-flex;
    display: flex;
}

#filter > div > div:last-child > div {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 16px;
}

#filter > div > div:last-child > div:first-child {
    background-color: #f4ebdf;
    color: #8d7f6d;
}

#filter > div > div:last-child > div:last-child {
    background-color: #e68080;
    color: #f5f0e9;
}