nav {
    display: -webkit-flex;
    display: flex;
}

nav > :last-child {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}

#loading {
    text-align: center;
    line-height: 30px;
}

#res_preview {
    padding: 30px 0;
    text-align: center;
}

#res_preview img {
    max-width: 50%;
    background-color: #ffffff;
    border: 2px solid #ebe2d5;
}

#res_info {
    background-color: #ebe2d5;
    padding: 20px 30px;
    font-size: 14px;
    color: #8d7f6d;
}

#res_info > div {
    font-weight: bold;
    margin-top: 15px;
}

#res_title {
    font-size: 20px;
}

#res_tags > span {
    display: inline-block;
    background-color: #c3b4a0;
    color: #f5f0e9;
    padding: 5px;
    margin: 3px 10px 0 0;
    font-size: 12px;
    border-radius: 5px;
}